<title>Admin Home</title>
<div class="row">
    <div class="col-md-12">
        <a href="/admin/orders"><h1>Manage Orders</h1></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="/admin/products"><h1>Manage Products</h1></a>
    </div>
</div>
