<!--addItem some type of subtle separator here-->
<br>
<br>
<br>

<footer class="footer">
    <div class="container" align="center">
        <div class="row">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            <i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i>
        </div>
        <div class="row">
            <p class="text-muted">Le DaVin Custom Clothiers - July 2016</p>
        </div>
    </div>
</footer>
