<form action="/user/addContact" method="post" id="new-contact-form">
    <div class="form-group">
        <label class="sr-only" for="new-desc">Contact Description</label>
        <input type="text" id="new-desc" class="form-control" placeholder="Contact Description" name="Desc" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-first-name">First Name</label>
        <input type="text" id="new-first-name" class="form-control" placeholder="First Name" name="FName" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-last-name">Last Name</label>
        <input type="text" id="new-last-name" class="form-control" placeholder="Last Name" name="LName" required>
    </div>
    <!--TODO: there should be a library to make entering the addresses better -->
    <div class="form-group">
        <label class="sr-only" for="new-address">Address</label>
        <input type="text" id="new-address" class="form-control" placeholder="Address" name="Address" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-country">Country</label>
        <input type="text" id="new-country" class="form-control" placeholder="Country" name="Country" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-city">City</label>
        <input type="text" id="new-city" class="form-control" placeholder="City" name="City" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-state">State</label>
        <input type="text" id="new-state" class="form-control" placeholder="State" name="State" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="new-zipcode">State</label>
        <input type="text" id="new-zipcode" class="form-control" placeholder="ZIP code" name="Zipcode" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="update-phone">State</label>
        <input type="tel" id="update-phone" class="form-control" placeholder="Phone Number" name="Phone" required>
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <button type="submit" class="btn btn-default">
        <i class="fa fa-plus"></i> Add Contact
    </button>
</form>