<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <legend>Forgot Password</legend>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form method="post" action="">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" name="email" autofocus="email"/>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
