<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <legend>Forgot Password</legend>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form method="post" action="">
            <div class="form-group">
                <label for="password">New Password</label>
                <input class="form-control" id="password" type="password" name="password" autofocus="password" value="" placeholder="New Password"/>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input class="form-control" id="confirm" type="password" name="confirm" autofocus="confirm" value="" placeholder="Confirm Password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Update Password</button>
            </div>
        </form>
    </div>
</div>