.thumbnail img {
    position: relative;
    left: 0;
    top: 0;
}

.thumbnail .description {
    color: darkgray;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.available-color-option {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}

.unavailable-color-option {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
}

.product-image {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    max-height: 600px;
}

.product-thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 50px;
    padding:1px;
    border:1px solid black;
}

.product-material {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid black;
}

.large-product-material {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 75%;
    left: 15%;
    border: 2px solid black;
}

.filter-material {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    vertical-align: inherit;
}

.filter-color{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.product-container {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%
}

.product{
    width: 410px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}