<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12">
            <h1>We would love to hear from you!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Email:</strong> Support@LeDaVin.com</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Phone:</strong> 123-456-7890</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3><strong>Social Media: </strong>
                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                <i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i>
            </h3>
        </div>
    </div>
</div>



